@model Student
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutStudent";
    ViewData["stdid"] = Model.std_id;
    string color;
}

<h1 class="text-center"> @Model.std_fname @Model.std_lname Degrees</h1>
<div>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <td>Subject</td>
        <td>Degree</td>
        <td>status</td>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.Std_courses)
    {
        if (@item.grade<=50)
        {
            color = "bg-danger";
        }
        else
        {
            color = "bg-success";      
        }
            <tr class=@color>
            <td>@item.crs.crs_name</td>
            <td>@item.grade</td>
            <td>@item.status</td>
        </tr>
    }
    </tbody>
</table>
</div>


@section scripts
{
    <script>
        $("tbody tr ").css("font-weight", "bold").css("color", "white");
        $("h1").css("color", "red");
    </script>
}

